In [4]:
import pandas as pd
import numpy as np

In [5]:
import corona_lib

In [6]:
total_cases = "https://data.humdata.org/hxlproxy/api/data-preview.csv?url=https%3A%2F%2Fraw.githubusercontent.com%2FCSSEGISandData%2FCOVID-19%2Fmaster%2Fcsse_covid_19_data%2Fcsse_covid_19_time_series%2Ftime_series_covid19_confirmed_global.csv&filename=time_series_covid19_confirmed_global.csv"
deaths_cases = "https://data.humdata.org/hxlproxy/api/data-preview.csv?url=https%3A%2F%2Fraw.githubusercontent.com%2FCSSEGISandData%2FCOVID-19%2Fmaster%2Fcsse_covid_19_data%2Fcsse_covid_19_time_series%2Ftime_series_covid19_deaths_global.csv&filename=time_series_covid19_deaths_global.csv"
recovered_cases = "https://data.humdata.org/hxlproxy/api/data-preview.csv?url=https%3A%2F%2Fraw.githubusercontent.com%2FCSSEGISandData%2FCOVID-19%2Fmaster%2Fcsse_covid_19_data%2Fcsse_covid_19_time_series%2Ftime_series_covid19_recovered_global.csv&filename=time_series_covid19_recovered_global.csv"

In [7]:
total = pd.read_csv(total_cases)
deaths = pd.read_csv(deaths_cases)
recovered = pd.read_csv(recovered_cases)

In [8]:
total = total.T
deaths = deaths.T
recovered = recovered.T

In [9]:
total = corona_lib.convert_dates_to_python(total)
deaths = corona_lib.convert_dates_to_python(deaths)
recovered = corona_lib.convert_dates_to_python(recovered)

In [11]:
total = corona_lib.df_initial_clean_up(total, ["Poland", "Italy", "Germany", "Spain", "Sweden", "US"])
deaths = corona_lib.df_initial_clean_up(deaths, ["Poland", "Italy", "Germany", "Spain", "Sweden", "US"])
recovered = corona_lib.df_initial_clean_up(recovered, ["Poland", "Italy", "Germany", "Spain", "Sweden", "US"])

In [15]:
total["Poland"]

2020-01-23        0
2020-01-24        0
2020-01-25        0
2020-01-26        0
2020-01-27        0
              ...
2020-04-19     9287
2020-04-20     9593
2020-04-21     9856
2020-04-22    10169
2020-04-23    10511
Name: Poland, Length: 92, dtype: object

In [ ]:
xvals = range(len(total_countires.loc[total_countires.index[-poland_days_ago_diagnosed:], "Poland"]))

In [16]:
total.index[-10:]

Index([2020-04-14, 2020-04-15, 2020-04-16, 2020-04-17, 2020-04-18, 2020-04-19,
       2020-04-20, 2020-04-21, 2020-04-22, 2020-04-23],
      dtype='object')

In [20]:
total

,0,1,2,3,4,5,6,7,8,9,...,254,255,256,257,258,259,260,261,262,263
Province/State,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Australian Capital Territory,New South Wales,...,NaN,NaN,"Bonaire, Sint Eustatius and Saba",NaN,Falkland Islands (Malvinas),Saint Pierre and Miquelon,NaN,NaN,NaN,NaN
Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Australia,...,Burundi,Sierra Leone,Netherlands,Malawi,United Kingdom,France,South Sudan,Western Sahara,Sao Tome and Principe,Yemen
Lat,33,41.1533,28.0339,42.5063,-11.2027,17.0608,-38.4161,40.0691,-35.4735,-33.8688,...,-3.3731,8.46056,12.1784,-13.2543,-51.7963,46.8852,6.877,24.2155,0.18636,15.5527
Long,65,20.1683,1.6596,1.5218,17.8739,-61.7964,-63.6167,45.0382,149.012,151.209,...,29.9189,-11.7799,-68.2385,34.3015,-59.5236,-56.3159,31.307,-12.8858,6.61308,48.5164
1/22/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4/19/20,996,562,2629,713,24,23,2839,1291,103,2957,...,5,35,5,17,11,1,4,6,4,1
4/20/20,1026,584,2718,717,24,23,2941,1339,104,2963,...,5,43,5,17,11,1,4,6,4,1
4/21/20,1092,609,2811,717,24,23,3031,1401,104,2969,...,5,50,5,18,11,1,4,6,4,1
4/22/20,1176,634,2910,723,25,24,3144,1473,104,2971,...,11,61,5,23,11,1,4,6,4,1
4/23/20,1279,663,3007,723,25,24,3435,1523,104,2976,...,11,64,5,33,12,1,5,6,4,1

In [19]:
total_last10 = total.loc[total.index[-10:], "Poland"]

In [20]:
deaths_last10 = deaths.loc[deaths.index[-10:], "Poland"]

In [21]:
recovered_last10 = recovered.loc[recovered.index[-10:], "Poland"]

In [22]:
deaths_last10

2020-04-14    263
2020-04-15    286
2020-04-16    314
2020-04-17    332
2020-04-18    347
2020-04-19    360
2020-04-20    380
2020-04-21    401
2020-04-22    426
2020-04-23    454
Name: Poland, dtype: object

In [23]:
recovered_last10

2020-04-14     618
2020-04-15     668
2020-04-16     774
2020-04-17     866
2020-04-18     981
2020-04-19    1040
2020-04-20    1133
2020-04-21    1297
2020-04-22    1513
2020-04-23    1740
Name: Poland, dtype: object

In [24]:
active_last10 = total_last10 - (recovered_last10 + deaths_last10)

In [25]:
active_last10

2020-04-14    6321
2020-04-15    6628
2020-04-16    6830
2020-04-17    7181
2020-04-18    7414
2020-04-19    7887
2020-04-20    8080
2020-04-21    8158
2020-04-22    8230
2020-04-23    8317
Name: Poland, dtype: object

In [33]:
for column_name in total.iteritems():
    print(column_name)
#     print(content)

('Poland', 2020-01-23        0
2020-01-24        0
2020-01-25        0
2020-01-26        0
2020-01-27        0
              ...
2020-04-19     9287
2020-04-20     9593
2020-04-21     9856
2020-04-22    10169
2020-04-23    10511
Name: Poland, Length: 92, dtype: object)
('Italy', 2020-01-23         0
2020-01-24         0
2020-01-25         0
2020-01-26         0
2020-01-27         0
               ...
2020-04-19    178972
2020-04-20    181228
2020-04-21    183957
2020-04-22    187327
2020-04-23    189973
Name: Italy, Length: 92, dtype: object)
('Germany', 2020-01-23         0
2020-01-24         0
2020-01-25         0
2020-01-26         0
2020-01-27         1
               ...
2020-04-19    145184
2020-04-20    147065
2020-04-21    148291
2020-04-22    150648
2020-04-23    153129
Name: Germany, Length: 92, dtype: object)
('Spain', 2020-01-23         0
2020-01-24         0
2020-01-25         0
2020-01-26         0
2020-01-27         0
               ...
2020-04-19    198674
2020-04-20    200210
2020-04-21    204178
2020-04-22    208389
2020-04-23    213024
Name: Spain, Length: 92, dtype: object)
('Sweden', 2020-01-23        0
2020-01-24        0
2020-01-25        0
2020-01-26        0
2020-01-27        0
              ...
2020-04-19    14385
2020-04-20    14777
2020-04-21    15322
2020-04-22    16004
2020-04-23    16755
Name: Sweden, Length: 92, dtype: object)
('US', 2020-01-23         1
2020-01-24         2
2020-01-25         2
2020-01-26         5
2020-01-27         5
               ...
2020-04-19    758809
2020-04-20    784326
2020-04-21    811865
2020-04-22    840351
2020-04-23    869170
Name: US, Length: 92, dtype: object)